<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Coding4Fun.Toolkit.Controls" version="2.0.7" targetFramework="wp80" />
  <package id="MvvmCross" version="4.0.0" targetFramework="wp8" />
  <package id="MvvmCross.Binding" version="4.0.0" targetFramework="wp8" />
  <package id="MvvmCross.Core" version="4.0.0" targetFramework="wp8" />
  <package id="MvvmCross.Platform" version="4.0.0" targetFramework="wp8" />
  <package id="MvvmCross.StarterPack" version="4.0.0" targetFramework="wp8" />
  <package id="WPtoolkit" version="4.2013.08.16" targetFramework="wp80" />
</packages>